/* ________ROOT VARIABLES - My Theme Lives Here________ */
:root {
  --bg: #0b0b0f;
  --text: #ffffff;
  --accent: #8a4fff; /*Neon Purple*/
  --soft-border: rgba(255, 255, 255, 0.08);
  --font-main: 'Arial', sans-serif;
}

/* ________GLOBAL STYLES________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________BODY STYLES________ */
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-main);
  padding: 0 20px;
}

/* ________HEADER STYLES________ */
header {
  padding: 20px 0;
  border-bottom: 1px solid var(--soft-border);
}

header h1 {
  font-size: 2.4rem;
  margin-bottom: 15px;
}

/* ________NAVIGATION STYLES________ */

nav a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: 0.25s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

nav a:hover {
  color: var(--accent);
}

/* ________MAIN CONTENT STYLES________ */

main {
  padding: 40px 0;
}

section {
  padding: 60px 0;
  border-bottom: 1px solid var(--soft-border);
}

section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/*_________DEFAULT TEXT BLOCKS_________*/

section p {
  max-width: 700px;
  margin-bottom: 20px;
}

  
